{% extends "base.html" %}

{% block content %}

<h1 class="post-title">
  <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
</h1>
<h2 class="post-subtitle">
  {% if page.date %}
  <span><em>noted {{ page.date | date(format="%b %-d, %Y") }}</em></span>
  {% endif %}
  {% if page.updated and page.updated != page.date %}
  <span><em>· updated {{ page.updated | date(format="%b %-d, %Y") }}</em></span>
  {% endif %}

  {% set authors = page.taxonomies.author | default(value=[]) %}
  {% set years = page.taxonomies | get(key='release-year', default=[]) %}
  {% set genres = page.taxonomies.genres | default(value=[]) %}
  {% if authors | length + years | length + genres | length > 0 %}
  {% if page.date %}&nbsp; &nbsp;{% endif %}
  <span>
    Tags:
    {% set_global first = true -%}
    {% for term in authors -%}
      {%- if not first %}, {% endif -%}
      <a href="{{ get_taxonomy_url(kind='author', name=term) }}">{{ term }}</a>
      {%- set_global first = false -%}
    {%- endfor -%}
    {% for term in years -%}
      {%- if not first %}, {% endif -%}
      <a href="{{ get_taxonomy_url(kind='release-year', name=term) }}">{{ term }}</a>
      {%- set_global first = false -%}
    {%- endfor -%}
    {% for term in genres -%}
      {%- if not first %}, {% endif -%}
      <a href="{{ get_taxonomy_url(kind='genres', name=term) }}">{{ term }}</a>
      {%- set_global first = false -%}
    {%- endfor %}
  </span>
  {% endif %}
</h2>

<hr>

{{ page.content | safe }}

{% endblock content %}
